%h1.mb-5.text-center Superhuman Slideshow

%section(data-toggle="slideshow")

.row.actions.mt-4
  .col-6
    %a.btn.btn-secondary(href='#' data-toggle="slideshow-prev")
      %i.fa.fa-chevron-left
      Previous

  .col-6.text-right
    %a.btn.btn-primary(href='#' data-toggle="slideshow-next")
      Next
      %i.fa.fa-chevron-right
