%h1 Superhuman Slideshow

%section(data-toggle="slideshow")

.row.actions.mt-4
  .col-6
    %a.btn.btn-secondary(href='#' data-toggle="slideshow-prev") Previous
  .col-6.text-right
    %a.btn.btn-secondary(href='#' data-toggle="slideshow-next") Next
